*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.bold{
    font-weight: bolder;
}
i{
    font-size: 12px;
}
/* nab--------------------bar-------------start-------------------hear */
                  
.nav-bar{
    margin-top: -70px;
    background-color: white;
    height: 70px;
    width: 100%;
    position: fixed;
}
.logo{
    font-size: 35px;
}
.icon{
    font-size: 20px;
}
.icon-logo{
    font-size: 20px;
    color: #D789FF;
    padding: 15px;
}
.s-1{
    color: #C67BFF;    
}
.s-2{
    color: #B86FFF;    
}
.s-3{
    color: #B56CFF;    
}
.s-4{
    color: #A962FF;    
}
.s-5{
    color: #A65FFF;    
}
.s-6{
    color: #9C57FF;    
}
h1{
    font-weight: bolder;
    width: 150px;
}
.logo-pic{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
}
.search-bar{
    border: none;
    padding: 10px;
}
.profile{
    width: 250px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.profile-pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.dropdown-container{
    padding: 5px;
    position: relative;
}
.dropdown-container a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
}
.dropdown-contain{
    position: absolute;
    top: 50px;
    right: 30px;
    display: none;
}
.dropdown-contain a{
    display: block;
}
.dropdown-container:hover .dropdown-contain{
    display: block;
    box-shadow: 5px 5px 10px gray;
}
.drop-div{
    width: 170px;
    display: flex;
    align-items: center;
}
.icon-log{
    padding: 10px;
}
.drop-div:hover{
    background-color: cornsilk;
}
.side-notification{
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.message-no{
    display: inline;
    position:relative ;
    cursor: pointer;
}
.massage-dropdown-contain{
    position: absolute;
    background-color: white;
    top: 50px;
    left: -30px;
    box-shadow: 5px 5px 10px gray;
    display: none;
}
.message-no:hover .massage-dropdown-contain{
    display: block;
}
.ss-bar div:hover{
    background-color: wheat;
}
.profile-pic-ss{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: left;
    margin: 15px;
}
.ss-bar{
    width: 270px;
    margin: 25px 0px;
}
.ss-bar div{
    background-color: white;
    height: 60px;
}
.ss-bar div img{
    margin-top: 9px;
}
.ss-bar div a{
    text-decoration: none;
    color: black;

}
.ss-bar div p{
    margin-top: 0px;
    font-weight: lighter;
}
.no-icon{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float: left;
    margin: 15px;
}
.notification-no{
    display: inline;
    position:relative ;
    cursor: pointer;
}
.notification-dropdown-contain{
    position: absolute;
    background-color: white;
    top: 50px;
    right: -120px;
    box-shadow: 5px 5px 10px gray;
    display: none;
}
.notification-no:hover .notification-dropdown-contain{
    display: block;
}
.no-bar div:hover{
    background-color: wheat;
}
.no-bar{
    width: 300px;
    margin: 25px 0px;
}
.no-bar div{
    background-color: white;
    height: 60px;
}
.no-bar div i{
    margin-top: 9px;
}
.no-bar div a{
    text-decoration: none;
    color: black;

}
.no-bar div p{
    margin-top: 0px;
    font-weight: lighter;
}
.clear{
    margin-top: 70px;
}


/* nab--------------------bar-------------start-------------------hear */


/* side-----------bar---------------start-------------------hear */

.main{
    display: flex;
    justify-content: space-between;
}
.side-bar{
    width: 200px;
    height: 820px;
    margin-left: 35px;
    padding: 5px;
    padding-left: 0;
}
.pro-manager{
    height: 80px;
    width: 200px;
    padding: 30px 0px;
    position: relative;
}
.maneger-profile{
    height: 45px;
    width: 45px;
    float: left;
}
.pro-manager h6{
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 50px;
}
.pro-manager a{
    font-size: 0.8rem;
    text-decoration: none;
    margin: 5px;
    color: gray;
}
.bookmark{
    position: absolute;
    top: 50px;
    left: 180px;
}
.manu{
    margin-top: 20px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}
.manu div{
    display: flex;
    justify-content: space-between;
}
.manu div a{
    text-decoration: none;
    color: rgb(78, 77, 77);
    font-size: 14px;
}
.manu div i{
    color: gray;
}
#dasbord-a{
    color: #B86FFF;
}
#dasbord-i {
    color: #B86FFF;
}
.add-project{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.add-project a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
}
.butn{
    background-image: linear-gradient(to left,#9E59FF,#D789FF);
    color: white;
    font-size: 14px;
    font-weight: bolder;
    width: 200px;
    height: 45px;
    border: 5px;
    padding: 5px;
}
.butn:hover{
    box-shadow: 2px 2px 3px gray;
}
.speaner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}
.speaner div{
    margin: 10px 0px;
}
.speaner div a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
.spin-solid-1{
    color: #FE7096;
}
.spin-solid-2{
    color: #1185E1;
}

/* side-----------bar---------------end-------------------hear */

/* main------start--------hear */


.root{
    background-color: #F2EDF3;
    width: 990px;
    height: auto;
}
.hous{
    background-image: linear-gradient(to left,#9E59FF,#D789FF);
    color: white;
    padding: 13px;
    border-radius: 4px;
}
.main-dasbord{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.das-left{
    width: 170px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.das-right{
    width: 110px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.das-right i{
    font-size: 14px;
}
.das-right a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

/* main------end--------hear */

/* card------start-----hear */

.cards{
    width: 950px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.card-1{
    background-image: linear-gradient(to left,#FE8DAB,#FFBD96);
    width: 290px;
    height: 250px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-2{
    background-image: linear-gradient(to left,#2B92E4,#8DC8F9);
    width: 290px;
    height: 250px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-3{
    background-image: linear-gradient(to left,#39D7BE,#81D9D1);
    width: 290px;
    height: 250px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.p-tag{
    display: flex;
    justify-content: space-between;
    width: 170px;
}
.card-1 div p,.card-2 div p,.card-3 div p{
    color: white;
    font-size: 20px;
}
.card-1 div i,.card-2 div i,.card-3 div i{
    color: white;
    font-size: 20px;
    margin: 10px;
}
.card-1 h1,.card-2 h1,.card-3 h1{
    color: white;
    font-size: 35px;
    width: 100%;
    margin-bottom: 40px;
}
.card-1 a,.card-2 a,.card-3 a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

/* card------end-----hear */

/* table-----start-------hear */

.info{
    width: 960px;
    margin-top: 20px;
}
.t-row{
    margin-top: 50px;
}
.done{
    background-image: linear-gradient(to right,wheat,green);
    padding: 2px;
    padding-left: 5px;
    width: 47px;
    height: 25px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.progress{
    background-image: linear-gradient(to right,wheat,yellow);
    padding: 2px;
    padding-left: 5px;
    width: 75px;
    height: 25px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.on-hold{
    background-image: linear-gradient(to right,wheat,blue  );
    padding: 2px;
    padding-left: 5px;
    width: 70px;
    height: 25px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.rejected{
    background-image: linear-gradient(to right,wheat,deeppink );
    padding: 2px;
    padding-left: 5px;
    width: 70px;
    height: 25px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
td{
    height: 80px;
}

/* table-----end-------hear */

/* img----div----start------hear */

.img-group{
    height: 500px;
}
.light-text{
    text-decoration: none;
    color: gray;
}
.img-icon{
    color: gray;
}
.lap-img{
    height: 230px;
    width: 400px;
    margin: 3px;
    border-radius: 5px;
}
.ru-profile{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.ru-text{
    width: 900px;
}

/* img----div----end------hear */